* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #08d9d6;
  --secondary-color: #ff2e63;
  --hover-color: #f7134c;
  --ternary-color: #252a34;
  --fourth-color: #eaeaea;
}

/*Remove user agent styles*/
a:visited {
  color: inherit;
}

.icon-navbar {
  /*El ancho de esta barra no puede ser el 100%, se debe definir*/
  width: 5em;
  background-color: var(--secondary-color);
}

.icon-navbar__link {
  display: block;
  text-align: center;
  padding: 1.5em;
}

.icon-navbar__link i {
  color: var(--fourth-color);
  font-size: 2em;
  transition: all 0.3s ease;
}

.icon-navbar__link:hover {
  background-color: var(--hover-color);
}

.active {
  background-color: var(--ternary-color);
}
